@import "./normalize";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";

.App {
    font: var(--font-m);
    background-color: var(--bg-color);
    color: var(--primary-color);
    height: 100vh;
}

.main-content {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 20px;
}
