@import "./normalize";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";
@import "./theme/green";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.App {
    background-color: var(--bg-color);
    height: 100vh;
    color: var(--primary-color);
}

.main-content {
    display: flex;
}
