@import "./normalize";
@import "./variables/global";
@import "./theme/dark";
@import "./theme/light";
@import "./theme/orange";

body {
    font: var(--font-m);
    color: var(--primary-color);

    // for firefox
    scrollbar-color: var(--scrollbar-color) #eae5e5;

    a,
    a:visited {
        text-decoration: none;
        cursor: pointer;
    }
}

.App {
    background-color: var(--bg-color);
    height: 100vh;
    color: var(--primary-color);
}

.App_redesigned {
    background-color: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.main-content {
    display: flex;
}

::-webkit-scrollbar {
    width: 10px;
}

// Track
::-webkit-scrollbar-track {
    background: #eae5e5;
}

// Handle
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}
