.articleDetails {
    height: 100%;

    .avatarWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
            margin: 20px auto;
        }
    }

    .title {
        margin-bottom: 15px;
    }

    .blocksWrapper {
        background: var(--bg-color);
        margin-top: 20px;

        .block {
            margin-bottom: 20px;
        }
    }

    .createdAt,
    .views {
        display: flex;
        margin-bottom: 15;

        .text {
            margin-left: 10px;
        }
    }

    .error {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
