.ArticleDetailsPage {
    .commentsTitle {
        margin-bottom: 10px;
    }

    .addCommentWrapper {
        margin-bottom: 20px;
    }
}

.articleNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
}
