.app_green {
    --bg-color: #f4fbfb;
    --inverted-bg-color: #0c9b99;
    --primary-color: #0d7e7c;
    --secondary-color: #097735;
    --inverted-primary-color: #f4fbfb;
    --inverted-secondary-color: rgb(144 152 144);

    // skeleton
    --skeleton-color: #e5e7e7;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // Card
    --card-bg: #edecea;

    // listbox
    --listboxitem-bg: #edecea;

    // scrollbar
    --scrollbar-color: #0c9b99;

    // listbox
    --listbox-bg: #d5d5d7;
}
