.app_green {
    --bg-color: #f4fbfb;
    --inverted-bg-color: #0c9b99;
    --primary-color: #0d7e7c;
    --secondary-color: #097735;
    --inverted-primary-color: #f4fbfb;
    --inverted-secondary-color: rgb(144 152 144);

     // skeleton
     --skeleton-color: #E5E7E7;
     --skeleton-shadow: rgba(0 0 0 / 20%);
  
}
