.FilterArticles {
    .sortWrapper {
        display: flex;
        justify-content: space-between;
    }

    .searchInput {
        margin-top: 15px;
    }

    .articleTabs {
        margin-top: 15px;
    }
}
