.AppButton {
    cursor: pointer;
    padding: 10px 15px;

    &:hover {
        opacity: 0.7;
        fill-opacity: 70%;
        stroke-opacity: 70%;
    }
}

.clear,
.inverted-clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.inverted-clear {
    color: var(--inverted-primary-color);
}

.outlined,
.outlined-red {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.outlined-red {
    border: 1px solid var(--red-light);
    color: var(--red-light);
}

.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.inverted-background {
    background: var(--inverted-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size-m {
    height: var(--font-line-m);
    width: var(--font-line-m);
}

.square.size-l {
    height: var(--font-line-l);
    width: var(--font-line-l);
}

.square.size-xl {
    height: var(--font-line-xl);
    width: var(--font-line-xl);
}

.size-m {
    font: var(--font-m);
}

.size-l {
    font: var(--font-l);
}

.size-xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}
