.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    position: relative;
    display: flex;
    align-items: center;

    .rightPart {
        position: absolute;
        right: 20px;
    }
}
