.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    position: relative;
    padding: 20px;

    .avatarWrapper {
        display: flex;
        justify-content: center;
    }

    .inputs {
        .input {
            margin: 0 0 10px;
        }
    }
}

.loading,
.error {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
