.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    position: relative;
    padding: 20px;
    width: 100%;

    .avatarWrapper {
        display: flex;
        justify-content: center;
    }
}

.loading,
.error {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
