.SMALL {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.BIG {
    width: 100%;

    .articleItem {
        margin-top: 30px;
    }
}

.emptyText {
    text-align: center;
    margin-top: 50px;
}
